APP_NAME: crud-api
API_ADDRESS: :3000
IDLE_TIMEOUT: 1
READ_TIMEOUT: 1
WRITE_TIMEOUT: 1
PG_HOST: localhost
PG_PORT: 5432
PG_NAME: crud
PG_USER: postgres
PG_PASSWORD: postgres
REDIS_HOST: localhost
REDIS_PORT: 6379
REDIS_DB: 0
CACHE_TIMEOUT: 100
CACHE_EXPIRATION: 25
PAGINATION: 10
